<!DOCTYPE html>
<html>
<head>
  <title>Slp time cycle selection</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "slp_time_cycle_selection/application", media: "all" %>
  <%= javascript_include_tag "slp_time_cycle_selection/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
